$circle: 440;

@mixin phone {
  @media (max-width: 426px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.skillSection {
  width: 100%;
  padding: 30px 50px;
  background: linear-gradient(to top right, #001253, #3e6d9c 20%, #fd841f 100%);
  .skill-Bx {
    background-color: #1c315e;
    padding: 20px 30px;
    margin: 0 auto;
    width: 90%;
    height: 400px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      color: white;
      h1 {
        text-align: center;
      }
      p {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}

.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    .card {
      position: relative;
      width: 220px;
      height: 250px;
      background: #2a2a2a;
      display: flex;
      justify-content: center;
      align-items: center;
      .percent {
        position: relative;
        width: 150px;
        height: 150px;
        svg {
          position: relative;
          width: 150px;
          height: 150px;
          transform: rotate(270deg); //翻轉Svg圖案
          circle {
            width: 100%;
            height: 100%;
            fill: transparent;
            stroke-width: 2;
            stroke: #191919;
            transform: translate(5px, 5px);
          }
          circle:nth-child(2) {
            stroke: var(--clr);
            stroke-dasharray: $circle; //
            stroke-dashoffset: calc(440 - ($circle * var(--num))); //虛線推移
            //圖案外圈為440，設定虛線邊框填滿和空白為440，再推移虛線
            opacity: 0;
            animation: fadeIn 1s linear forwards;
            animation-delay: 2s;
          }
          @keyframes fadeIn {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .dot {
          position: absolute;
          z-index: 10; //設定元素至最前
          inset: 5px; //設定dot位置為Top,bottom,left,right為5px
          transform: rotate(
            calc(var(--num) * 360deg)
          ); //360度為100%因此用設定的%數為多少計算需旋轉多少度數
          animation: animateDot 2s linear forwards;

          @keyframes animateDot {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(calc(var(--num) * 360deg));
            }
          }
        }
        .dot::before {
          content: "";
          position: absolute;
          background: var(--clr);
          width: 10px;
          height: 10px;
          // transform: translateX(-50%);
          border-radius: 50%;
          top: -5px;
          left: 50%;
          box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
        }
        .number {
          position: absolute;
          inset: 0;
          //position設定absolute且設定inset: 0，則大小會和找到的relative區塊相同
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: #fff;
            font-size: 2.5em;
            span {
              font-weight: 300;
              color: #fff;
              font-size: 0.5em;
            }
          }
          p {
            font-weight: 300;
            font-size: 0.75em;
            // line-height: 2px;
            // margin-top: 5px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.75);
          }
          opacity: 0;
          animation: fadeIn 1s linear forwards;
          animation-delay: 2s;
        }
      }
    }
  }
}

//Swiper

.swiper {
  margin-top: 20px;
  width: 90%;
  height: 30%;
  --swiper-navigation-color: purple;
  --swiper-navigation-size: 30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test{
  background-color: #001253;
  width: 50px;
  height: 50px;
  color: #000;
}